* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body,
html {
    width: 100%;
    height: 100%;
}

/* 登录 */
.masking {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(144, 149, 151, 0.3);

    >.login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 715px;
        height: 370px;
        border-bottom: 4px solid #fe584d;
        background-color: #fff;
        display: flex;
        padding: 25px 50px;
        box-sizing: border-box;
        justify-content: space-between;

        >.loginLeft {
            width: 395px;
            border-right: 1px solid #ededed;
            padding-right: 60px;
            box-sizing: border-box;

            >h3 {
                color: #595959;
                font-weight: 500;
                margin-bottom: 25px;
            }

            >div {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 240px;
                justify-content: space-between;
                position: relative;

                >input {
                    width: 100%;
                    background-color: #f7f7f7;
                    color: #a3a3a3;
                    height: 50px;
                    border: 1px solid #d9d9d9;
                    text-indent: 1em;
                    font-size: 16px;
                }

                >button {
                    width: 165px;
                    line-height: 40px;
                    font-size: 14px;
                    background-color: #fe584d;
                    color: white;
                    border: none;
                    border-radius: 20px;
                    cursor: pointer;
                }

                >p {
                    position: absolute;
                    right: -110px;
                    width: 50%;
                    height: 30px;
                    z-index: 3;
                    color: white;
                    background-color: black;
                    border-radius: 10px;
                    text-align: center;
                    line-height: 30px;
                    font-size: 14px;
                    opacity: 0;
                    transition: all 0.3s;
                }

                >.loginTelephoneText {
                    top: 10px;
                }

                >.loginUserText {
                    top: 80px;
                }

                >.passwordText {
                    top: 145px;
                }
            }

            >p {
                display: flex;
                justify-content: space-between;
                font-size: 14px;
            }
        }

        >.loginRight {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            >h3 {
                color: #595959;
                font-weight: 500;
            }

            >div {
                display: flex;
                width: 100%;
                justify-content: space-around;
            }
        }

        >.close {
            position: absolute;
            top: 10px;
            right: 15px;
            transform: scale(2);
            cursor: pointer;
        }
    }
}

/* 头部 */
header {
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #cecfcf;
    box-shadow: 0 0 5px #cecfcf inset;

    >.headerBox {
        height: auto;
        width: 1000px;
        display: flex;

        >div:nth-of-type(1) {
            display: flex;
            align-items: center;
            margin-right: 30px;

            >a {

                >img {
                    width: 132px;
                }
            }
        }

        >nav {
            flex-grow: 1;
            width: 500px;

            >ul {
                height: 100%;
                display: flex;
                align-items: center;

                >li {
                    display: flex;
                    justify-content: center;
                    width: 90px;

                    >a {
                        font-size: 20px;
                        transition: all 0.2s;
                    }

                    a:hover {
                        color: #fe5341;
                        transition: all 0.2s;
                    }
                }

                >li:nth-of-type(1) {
                    >a {
                        color: #fe5341;
                    }
                }
            }
        }

        >div:nth-of-type(2) {
            display: flex;
            align-items: center;

            >a:nth-of-type(1) {
                width: 24px;
                height: 26px;
                background: url(./img/search.png) no-repeat;
                transition: all 0.08s;

                &:hover {
                    transform: scale(1.1);
                }
            }

            >a:nth-of-type(2),
            >a:nth-of-type(3) {
                font-size: 16px;
                width: 50px;
                line-height: 30px;
                border: 1px solid #fe5341;
                text-align: center;
                border-radius: 3px;
                color: #fe5341;
                margin-left: 20px;

                &:hover {
                    background-color: #fe5341;
                    color: #fff;
                    transition: all 0.2s;
                }
            }
        }
    }
}

/* 底部 */
footer {
    width: 100%;
    background-color: #505050;
    display: flex;
    flex-direction: column;
    align-items: center;

    >.footertop {
        padding-top: 40px;
        width: 1000px;
        display: flex;
        justify-content: space-between;

        >dl {
            dt {
                color: white;
                font-size: 16px;
                margin-bottom: 25px;
            }

            >dd {
                font-size: 13px;
                color: #a3a3a3;
                line-height: 20px;

                >a {
                    color: #a3a3a3;
                }
            }
        }

        >dl:nth-of-type(1) {
            width: 160px;
            height: 160px;

            >img {
                width: 100%;
                height: 100%;
            }
        }

        >dl:nth-of-type(2) {
            width: 140px;

            >dd:nth-of-type(1) {
                margin-bottom: 15px;

            }
        }

        >dl:nth-of-type(3) {
            width: 100px;
        }

        >dl:nth-of-type(4) {
            width: 140px;

            >dd {
                >a {
                    display: inline-block;
                    width: 65px;
                }
            }
        }

        >dl:nth-of-type(5) {
            width: 148px;
        }

        >dl:nth-of-type(6) {
            width: 180px;
        }
    }

    >.footerbottom {
        margin-top: 80px;
        margin-bottom: 15px;

        >p {
            text-align: center;
            font-size: 13px;
            color: #a3a3a3;
        }
    }
}