@charset "UTF-8";
header > .headerBox > nav > ul > li:nth-of-type(1) > a {
  color: black !important;
}

header > .headerBox > nav > ul > li:nth-of-type(4) > a {
  color: #fe5341 !important;
}

/* 版心 */
.content {
  width: 100%;
  height: 300px;
  background: url(../../img/original.jpg) no-repeat center top;
  overflow: hidden;
}

.content .hifi {
  width: 1000px;
  margin: auto;
  text-align: right;
  color: white;
  padding-top: 35px;
  transform: translate(800px, -800px);
  animation: rotateIn 1s ease both;
}

.content .hifi h2 {
  font-size: 34px;
  margin-bottom: 15px;
  font-weight: normal;
}

.content .hifi .sps {
  width: 1000px;
  height: 36px;
  margin-top: 30px;
}

.content .hifi span {
  background: rgba(255, 255, 255, 0.3);
  padding: 5px 10px;
  margin-right: 10px;
}

.content .hifi .time {
  padding: 20px 0 16px 0;
  font-size: 18px;
  letter-spacing: 2px;
}

.content .hifi .btn {
  float: right;
}

.content .hifi a {
  display: block;
  width: 242px;
  height: 48px;
  background: #fe5341;
  color: #fff;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
}

.content .hifi .btn {
  width: 242px;
  height: 48px;
  background-color: #fe5341;
  border: none;
  color: white;
  font-size: 24px;
}

@keyframes rotateIn {
  0% {
    transform: translate(800px, -800px);
  }
  100% {
    transform: translate(0);
  }
}

/* 试用流程 */
.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  height: 102px;
  align-items: center;
}

.nav > .navBox {
  display: flex;
  width: 1000px;
  height: 62px;
}

.nav > .navBox > h2 {
  width: 40px;
  border-left: 6px #fe5341 solid;
  font-size: 20px;
  font-weight: 500;
  line-height: 31px;
  padding-left: 11px;
  height: 62px;
}

.nav > .navBox > ul {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}

.nav > .navBox > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.nav > .navBox > ul > li > img {
  transform: scale(0.8);
}

.nav > .navBox > ul > li > p {
  font-size: 12px;
}

.nav > .navBox > ul > li:nth-of-type(1) > p {
  border-bottom: 2px solid #fe5341;
}

.nav > .navBox > ul > li:nth-of-type(3) > img,
.nav > .navBox > ul > li:nth-of-type(2) > img,
.nav > .navBox > ul > li:nth-of-type(5) > img {
  transform: translateY(-10px) scale(0.8);
}

.nav > .navBox > ul > li:nth-of-type(4) > img {
  transform: scale(0.6);
}

/* 正文 */
main {
  width: 100%;
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

main > .container {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

main > .container h2 {
  font-size: 20px;
  border-left: 6px solid #fe5341;
  font-weight: 500;
  padding-left: 16px;
}

main > .container > article {
  width: 70%;
  height: 2600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main > .container > article > strong {
  color: red;
  font-size: 18px;
}

main > .container > article > p {
  line-height: 28px;
}

main > .container > article > img {
  width: 650px;
}

main > .container > article > h4 {
  color: #0070c0;
}

main > .container > article > span {
  color: #0177A7;
}

main > .container > article > dl > dt {
  color: red;
  line-height: 25px;
}

main > .container > article > dl > dd {
  line-height: 25px;
}

main > .container > aside {
  width: 27%;
}

main > .container > aside h2 {
  padding-left: 25px;
  font-size: 18px;
}

main > .container > aside > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main > .container > aside > div:nth-of-type(1) {
  height: 205px;
}

main > .container > aside > div:nth-of-type(1) > .money {
  color: #fe5341;
  font-size: 40px;
}

main > .container > aside > div:nth-of-type(1) > button {
  outline: none;
  background-color: #fe5341;
  color: white;
  text-align: center;
  line-height: 48px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  width: 100%;
  cursor: pointer;
}

main > .container > aside > div:nth-of-type(1) > button:hover {
  background-color: #f3250f;
}

main > .container > aside > div:nth-of-type(1) > span {
  color: #a3a3a3;
  text-align: center;
  font-size: 14px;
}

main > .container > aside > div:nth-of-type(2) {
  height: 490px;
}

main > .container > aside > div:nth-of-type(2) > p {
  color: #474747;
  font-size: 16px;
  font-weight: 800;
}

main > .container > aside > div:nth-of-type(2) > span {
  color: #a3a3a3;
  font-size: 14px;
  line-height: 24px;
}

main > .container > aside > div:nth-of-type(3) {
  margin-top: 50px;
  height: 165px;
}

.botton {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 400px;
}

.botton > .container {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.botton > .container > div {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 800;
  align-items: center;
}

.botton > .container > div > a {
  background: url(../../css/img/readMore.png) no-repeat right center;
  color: #fd6959;
  font-size: 14px;
  padding-right: 15px;
  font-weight: 100;
}

.botton > .container > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.botton > .container > ul > li {
  width: 220px;
  height: 275px;
  border: 1px solid #e6e9e9;
  overflow: hidden;
  border-radius: 8px;
}

.botton > .container > ul > li > a {
  display: block;
  position: relative;
  height: 100%;
}

.botton > .container > ul > li > a > span {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fe5341;
  color: white;
  text-align: center;
  line-height: 22px;
  z-index: 10;
  border-radius: 0 0 0 6px;
  font-size: 12px;
  padding: 0px 8px;
}

.botton > .container > ul > li > a > img {
  width: 220px;
  height: 130px;
}

.botton > .container > ul > li > a > div {
  padding: 8px 8px 14px;
  text-align: center;
}

.botton > .container > ul > li > a > div > p:nth-of-type(1) {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
}

.botton > .container > ul > li > a > div > p:nth-of-type(1) > span {
  color: #fe5341;
  border: 1px solid #fe5341;
  border-radius: 5px;
  font-size: 12px;
  line-height: 20px;
  width: 44px;
}

.botton > .container > ul > li > a > div > p:nth-of-type(2) {
  line-height: 28px;
}

.botton > .container > ul > li > a > div > p:nth-of-type(2) > span {
  color: #fe5341;
}

.botton > .container > ul > li > a > div > span {
  color: #fe5341;
  font-size: 14px;
}
