/* 免费试用 */
nav {
    width: 100%;
    text-align: center;

    h1 {
        height: 128px;
        line-height: 128px;
        font-size: 40px;
        font-weight: normal;
    }

    div {
        width: 100%;
        height: 43px;
        margin: auto;
        display: flex;
        justify-content: center;

        a {
            // display: inline-block;
            width: 165px;
            height: 43px;
            line-height: 43px;
            font-size: 18px;
            box-sizing: border-box;
            color: #a3a3a3;

            &:first-child {
                border-bottom: 4px #fe5431 solid;
                color: #fe5431;
            }
        }
    }
}

/* 试用导航 */
.use-nav {
    width: 100%;
    height: 43px;
    margin: auto;
    display: flex;
    justify-content: center;
    border-top: 1px solid #f0f0f0;

    a {
        width: 165px;
        height: 43px;
        line-height: 43px;
        font-size: 18px;
        box-sizing: border-box;
        color: #a3a3a3;

        &:first-child {
            color: black;
        }
    }
}

/* 产品展示 */
.etp {
    width: 100%;
    background-color: #f7f7f7;
    overflow: hidden;

    ul {
        width: 1000px;
        height: 1250px;
        margin: 25px auto;

        li {
            width: 220px;
            height: 286px;
            margin: 0 0 35px 37px;
            background: #fff;
            border: 1px solid #e6e9e9;
            border-radius: 6px;
            overflow: hidden;

            a {
                width: 100%;
                height: 100%;
                display: block;
                position: relative;

                .shoufa {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: #fe5341;
                    color: #f5e8e8;
                    border-radius: 0 0 0 6px;
                    font-size: 12px;
                    padding: 3px 8px;
                }

                img {
                    width: 220px;
                    height: 130px;
                }

                .etp_box {
                    padding: 8px 8px 14px;
                    text-align: center;

                    h2 {
                        font-size: 16px;
                        height: 48px;
                    }

                    p {
                        display: flex;
                        justify-content: center;
                        margin: 6px 0px;

                        span {
                            width: 50px;
                            height: 25px;
                            text-align: center;
                            line-height: 25px;
                            color: #ccc;
                            border: 1px solid #ccc;
                            border-radius: 5px;
                            font-size: 12px;

                            &:last-child {
                                width: 48px;
                                margin-left: 10px;
                            }
                        }
                    }

                    .sq {
                        text-align: center;

                        span {
                            color: #fe5341;
                        }
                    }

                    span {
                        text-align: center;
                        color: #ccc;
                        font-size: 14px;
                    }
                }
            }

        }
    }
}